/*sidenav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #003900ff;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sidebar-div {
    line-height: 2.2;
}

.sidenav h3 {
    margin-top: 0;
    margin-bottom: 7px;
}

.sidenav a {
    color: #fff;
}

.sidenav hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidenav input[type='number'] {
    width: 61px;
}

.sidenav input[type='range'] {
    margin-bottom: -6px;
    margin-left: 14px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 36px;
    margin: 0 0 0 50px;
    padding: 0;
    text-decoration: none;
}

hr {
    color: #fff;
    margin: 25px 0 25px 0;
}

#typing-speed-message {
    font-size: 13px;
}

#sidenav-container {
    margin: 45px 30px;
}

textarea {
    width: 100%;
    height: 318px;
    max-width: 100%;
}

#about p {
    line-height: 1.5;
}

#alphabet-input,
#exclude-input {
    width: 100%;
}


/*switch button*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    -webkit-box-shadow: 0 0 1px #2196f3;
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}