ul {
    list-style-type: none;
    padding: 0;
}

ul ul {
    list-style-type: disc;
    margin-left: 22px;
}

.terms-nav {
    background-color: blue;
    text-align: center;
    margin: 0px;
    padding: 0;
}

.terms-nav h3 {
    margin-right: 10px;
}

.terms-nav li {
    display: inline-block;
    margin-right: 5px;
}

.terms {
    columns: 200px;
}

.terms h3 {
    background-color: green;
    padding: 2px 0px 2px 8px;
    border-radius: 10px;
}

.terms-nav a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.terms-nav a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.terms-nav a:hover {
    color: rgb(45, 108, 255);
    background-color: transparent;
    text-decoration: underline;
}

.terms-nav a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.margin-bottom {
    margin-bottom: 20px;
}

.no-break-div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}