input {
    margin-top: 10px;
}

textarea {
    margin-top: 15px;
    width: 400px;
    font-family: 'Times New Roman';
    background-color: black;
    color: white;
}

body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman';
}

ul {
    list-style-type: none;
    padding: 0;
}

ul ul {
    list-style-type: disc;
    margin-left: 22px;
}

.terms-nav {
    background-color: blue;
    text-align: center;
    margin: 0px;
    padding: 0;
}

.terms-nav h3 {
    margin-right: 10px;
}

.terms-nav li {
    display: inline-block;
    margin-right: 5px;
}

.terms {
    columns: 200px;
}

.terms h3 {
    background-color: green;
    padding: 2px 0px 2px 8px;
    border-radius: 10px;
}

.terms-nav a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.terms-nav a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.terms-nav a:hover {
    color: rgb(45, 108, 255);
    background-color: transparent;
    text-decoration: underline;
}

.terms-nav a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

#logo img {
    height: 200px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.no-break-div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}


/*sidenav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #004080;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sidebar-div {
    line-height: 2.2;
}

.sidenav h3 {
    margin-top: 0;
    margin-bottom: 7px;
}

.sidenav a {
    color: #fff;
}

.sidenav hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidenav input[type='number'] {
    width: 61px;
}

.sidenav input[type='range'] {
    margin-bottom: -6px;
    margin-left: 14px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 36px;
    margin: 0 0 0 50px;
    padding: 0;
    text-decoration: none;
}

hr {
    color: #fff;
    margin: 25px 0 25px 0;
}

#typing-speed-message {
    font-size: 13px;
}


/*icon bar*/

#icon-bar {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    z-index: 1;
    top: 0;
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#right-icons {
    right: 0;
}

#left-icons {
    left: 0;
}

.icons-container {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
}

#icon-bar-logo {
    align-items: center;
    display: flex;
}

#left-icons img {
    height: 24px;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.icons-container img {
    height: 24px;
    cursor: pointer;
    margin: 0 10px 0 0;
}

#sidenav-openbtn {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    position: relative;
    left: 8px;
    margin: 0 40px 4px 0;
}